* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.goods-list,
.cart-list {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #000;
    padding: 3px;
    margin: 3px 0px;
}


.goods-item {
    border-bottom: 3px solid #8A2BE2;
    border-left: 4px solid #8B008B;
    min-width: 80px;
    min-height: 50px;
    padding: 4px;
    margin: 2px 4px;
}

.cart-item {
    border-bottom: 3px solid #CD5C5C;
    border-left: 4px solid #FFA07A;
    min-width: 80px;
    min-height: 50px;
    padding: 4px;
    margin: 2px 4px;
}

.hamburger-item {
    border-bottom: 3px solid #aD1C5C;
    border-left: 4px solid #4FA07A;
    min-width: 80px;
    min-height: 50px;
    padding: 4px;
    margin: 2px 4px;
}

.cart-button {
    padding: 3px 6px;
    font-size: 120%;
    border: 2px solid #F08080;
    background-color: white;
    color: #F08080;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;

}

.cart-button:hover {
    background-color: peachpuff;
}

.total-cost,
.total-cost-cart {
    font-size: 125%;
}
